
@{
    ViewBag.Title = "Thankyou";
}


<div>
    <h3>  Dear <b>@(Session[Common.SESSION_FNAME]+string.Empty + " " + Session[Common.SESSION_LNAME]+string.Empty) ,</b></h3>
    <br />
    Thank you so much for shopping in us service.

</div>
